@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/*
Montserrat fontweight

regular 400
medium 500
semibold 600
bold 700
extrabold 800

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  html{
    scroll-behavior: smooth;
  }
  body {
    --swiper-theme-color: #FE6C19;
  }
  .faculty-card-radius {
    border-radius: 0% 35% 35% 0% / 10% 50% 50% 10%;
  }

  /* for hiding scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;               /* width of the entire scrollbar */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: silver;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    .faculty-card-radius {
      border-radius: 0% 35% 35% 0% / 10% 50% 50% 10%;
    }
    body{
      --swiper-theme-color: #FE6C19;
    }
  }
  html {
    box-sizing: border-box;
  }
  * , *:before , *:after {
    box-sizing: inherit;
    font-family: Heebo, sans-serif;
  }
  /* Works on Firefox */
  * {
    scrollbar-width: 1em;
    scrollbar-color: #008081 #f5f5f5;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px !important;
  }
  
  *::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 100vw;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #FE6C19;
    border-radius: 100vw;
  }