@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@400;500;600;700;800&display=swap');

/*
Montserrat fontweight

regular 400
medium 500
semibold 600
bold 700
extrabold 800

*/

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  
  /* this is for smooth behaviour */
  html{
    scroll-behavior: smooth;
  }
  body {
    --swiper-theme-color: #FE6C19;
  }
  .faculty-card-radius {
    border-radius: 0% 35% 35% 0% / 10% 50% 50% 10%;
  }

  /* for hiding scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;               /* width of the entire scrollbar */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: silver;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
  }
}
